@import './scss/mixins.scss';

div.big_button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    margin: 30px 0 20px 0;
    border-radius: 30px;
    outline: none;
    @include box-shadow;
    @include transition;
    background: linear-gradient(to bottom right, #9356DC, #FF79DA);

    a {
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        width: 100%;
        height: 100%;

        font: {
            size: 15px;
            weight: 500;
        }
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 2px 5px rgb(143, 143, 143);
        filter:brightness(1.1);
    }
}

