
:root {
    --color-primary:#9356DC;
    --color-secondary:#FF79DA;
    --color-tertiary: #99E2D0;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    #logo, .logo, h1 {
        font-family: 'Shrikhand', cursive;
    }
}
