footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 20px;
    width: 100%;

    p {
        color: #fff;
        margin-bottom: 20px;

        font: {
            size: 18px;
            weight: 400;
        }
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: center;
            position: relative;
            list-style: none;
            color: #fff;
            margin-bottom: 8px;

            a {
                text-decoration: none;
                color: #fff;

                font: {
                    size: 14px;
                    weight: 500;
                }

            }
            &:nth-child(1) {
                padding-left: 20px;
                &:before {
                    position: absolute;
                    left: 0;
                    content: "\f2e7";

                    font: {
                        size: 12px;
                        weight: 600;
                        family: "Font Awesome 5 Free";
                    }
                }
            }

            &:nth-child(2) {
                padding-left: 20px;
                &:before {
                    position: absolute;
                    left: 0;
                    content: "\f4c4";

                    font: {
                        size: 12px;
                        weight: 600;
                        family: "Font Awesome 5 Free";
                    }
                }
            }
        }
    }

}