header {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgb(204, 204, 204);
    a {
        position: absolute;
        left: 20px;
        color: #353535;

        i {
            font: {
                size: 18px;
            }
        }
    }

    h1, #logo {
        font-size: 28px;
    }
}