@mixin home-title {
    align-self: flex-start;
    margin-bottom: 20px;

    font: {
        size: 22px;
        weight: 700;
    }
}

@mixin figure-title {
    font: {
        size: 16px;
        weight: 600;
    }
}

 @mixin section-padding {
    padding: 50px 20px 60px 20px;
 }

@mixin box-shadow {
    box-shadow: 0 2px 5px rgb(204, 204, 204);
}

@mixin transition {
    transition: 0.3s;
}