body {
    animation: animBody 3.0s linear;
}

@keyframes animBody {
    0% {
        overflow: hidden;
    }
    99%{
        overflow: hidden;
    }
    100% {
        overflow: scroll;
    }
}

main, header, footer {
    animation: animMain 3.0s linear;
}

@keyframes animMain {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    75% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.load_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 5000;
    animation: animSpinner 3.0s forwards;

    .spinner {
        display: flex;
        justify-content: center;
        width:80px;
        height: 80px;
        position: relative;
        text-align: center;
        animation: animRotate 2.0s infinite linear;
    }

    .dot1,
    .dot2,
    .dot3 {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        animation: animBbounce 3.0s infinite ease-in-out;
    }

    .dot1 {
        background: var(--color-primary);
        top: 0;
        left: 0;
    }

    .dot2 {
        background: var(--color-tertiary);
        bottom: 0;
        animation-delay: -2.0s;
    }
    .dot3 {
        background: var(--color-secondary);
        top: 0;
        right: 0;
        animation-delay: -1.0s;
    }

    @keyframes animRotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes animBbounce {

        0%,
        100% {
            transform: scale(0.0);
        }

        50% {
            transform: scale(1.0);
        }
    }
}

@keyframes animSpinner {
    0% {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }

    75% {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        transform: scale(0);
        opacity: 0;
    }
}