@import './scss/default.scss';
@import './scss/mixins.scss';
@import './scss/variables.scss';
@import './scss/tablet.scss';
@import './scss/desktop.scss';
@import './scss/header.scss';
@import './scss/footer.scss';
@import './scss/button.scss';

.banner {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 200;

    img {
        object-fit: cover;
        width: 100%;
        height: 280px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: calc(280px - 50px);
    background-color: #f6f6f6;
    padding: 15px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    z-index: 500;

    h1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;

        font: {
            size: 28px;
            weight: 400;
        }

        i {
            position: relative;
            cursor: pointer;
            @include transition;

            font: {
                size: 20px;
                family: "Font Awesome 5 Free";
            }

            color: #7e7e7e;

            &:after {
                content: "\f004";
                position: absolute;
                @include transition;
                left: 0;
                opacity: 0;

                font: {
                    weight: 600;
                }

                background: linear-gradient(to bottom right, #9356DC, #FF79DA);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &:hover {
                transform: scale(1.2);
            }

            &:hover:after {
                opacity: 1;
            }

        }
    }

    .section_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
        gap: 15px;
        width: 100%;

        .blocks {
            display: grid;
            grid-template-rows: 20px 70px 70px 70px auto;
            gap: 15px;

            h2 {
                position: relative;
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                justify-self: start;
                margin-bottom: 10px;
                height: 20px;
                animation: animCards 0.5s 0.2s ease-out backwards;

                font: {
                    size: 14px;
                    weight: 400;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 40px;
                    height: 3px;
                    background-color: var(--color-tertiary);
                }
            }

            .card {
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                background-color: #fff;
                padding: 15px 20px 15px 15px;
                animation: animCards 0.5s ease-out backwards;
                @include box-shadow;
                @include transition;

                h3 {
                    font: {
                        size: 16px;
                        weight: 600;
                    }
                }

                .text {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    @include transition;
                    padding-top: 5px;

                    p {

                        font: {
                            size: 16px;
                            weight: 400;
                        }

                        &:nth-child(1) {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding-right: 5px;
                        }

                        &:nth-child(2) {
                            font: {
                                weight: 600;
                            }
                        }
                    }
                }

                span {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    @include transition;
                    background-color: var(--color-tertiary);
                    right: -$spanWidth;
                    top: 0;
                    width: $spanWidth;
                    height: 100%;

                    i {
                        color: #fff;
                        @include transition;

                        font: {
                            size: 20px;
                        }
                    }
                }


                // /!\ VALEUR FIXE(60px) = LARGEUR ICONCHECK ->variables.scss
                &:hover>.text {
                    width: calc(100% - 60px);
                }

                &:hover>span {
                    right: 0;
                }

                &:hover>span i {
                    transform: rotate(720deg);
                }

                @for $i from 2 through 5 {
                    &:nth-child(#{$i}) {
                        animation: animCards 0.5s #{$i * 0.2}s ease-out backwards;
                    }
                }
            }
        }
        @keyframes animCards {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    div.big_button {
        margin: 30px 0 30px 0;
        a {
            padding: 15px 45px;
        }
    }
}