@import './scss/default.scss';
@import './scss/mixins.scss';
@import './scss/variables.scss';
@import './scss/tablet.scss';
@import './scss/desktop.scss';
@import './scss/spinner.scss';
@import './scss/header.scss';
@import './scss/footer.scss';
@import './scss/button.scss';


main {
    z-index: 100;

    div.banner_wrapper {
        background-color: #eaeaea;

        div.location {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;

            i {
                color: #353535;
                margin-right: 5px;
            }

            input[type="search"] {
                color: #353535;
                background-color: transparent;
                border: none;
                padding: 5px;
                width: 145px;

                font: {
                    size: 14px;
                    weight: 700;
                }
            }
        }

        div.banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f6f6f6;
            padding: 40px;

            h2 {
                text-align: center;
                padding: 0 20px;

                font: {
                    size: 22px;
                    weight: 700;
                }
            }

            p {
                text-align: center;
                color: #7e7e7e;
                margin-top: 15px;

                font: {
                    size: 16px;
                    weight: 400;
                }
            }

        }
    }

    section.steps {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        @include section-padding;

        h3 {
            @include home-title;
        }

        ol.choices {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            counter-reset: item;
            list-style-type: none;

            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                @include transition;
                margin-bottom: 20px;
                height: 70px;
                width: 100%;

                &:before {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    content: counter(item) " ";
                    counter-increment: item;
                    color: #fff;
                    left: -12.5px;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background-color: var(--color-primary);

                    font: {
                        size: 14px;
                        weight: 400;
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include box-shadow;
                    background-color: #f6f6f6;
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    @include transition;
                    text-decoration: none;
                    color: #000;

                    font: {
                        size: 16px;
                        weight: 600;
                    }

                    &:before {
                        color: #7e7e7e;
                        position: absolute;
                        @include transition;
                        left: 10%;

                        font: {
                            size: 18px;
                            family: "Font Awesome 5 Free";
                        }
                    }
                }

                &.first_choice {
                    a:before {
                        content: "\f3cd";
                    }
                }

                &.second_compose {
                    a:before {
                        content: "\f0ca";
                    }
                }

                &.third_enjoy {
                    a:before {
                        content: "\f54e";
                    }
                }

                &:hover {
                    transform: scale(1.007);
                }

                &:hover>a {
                    background-color: #f5edff;
                    box-shadow: 0 2px 5px rgb(173, 173, 173);
                }

                &:hover>a:before {
                    color: var(--color-primary);
                }
            }
        }

    }

    section.restaurants {
        display: flex;
        flex-direction: column;
        @include section-padding;
        background-color: #f6f6f6;

        h3 {
            @include home-title;
        }

        div.restaurants_wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, auto));
            grid-gap: 20px;

            a {
                height: 250px;
                border-radius: 20px;
                text-decoration: none;
                @include box-shadow;
                @include transition;
                overflow: hidden;

                figure {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;

                    .badge {
                        position: absolute;
                        background-color: var(--color-tertiary);
                        color: #008766;
                        border-radius: 5px;
                        padding: 7px 12px;
                        top: 15px;
                        right: 15px;
                        z-index: 200;

                        font: {
                            size: 14px;
                            weight: 600;
                        }
                    }

                    picture {
                        position: relative;
                        display: flex;
                        align-items: flex-end;
                        flex: auto;
                        overflow: hidden;

                        img {
                            position: absolute;
                            object-fit: cover;
                            width: 100%;
                            height: auto;
                        }

                        &:nth-child(2) {
                            align-items: center;

                            img {
                                margin-bottom: 5%;
                            }
                        }
                    }

                    figcaption {
                        height: 80px;
                        background-color: #fff;

                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 100%;
                            padding: 15px;
                            color: #000;

                            h4 {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;

                                font: {
                                    size: 16px;
                                    weight: 700;
                                }



                                i {
                                    position: relative;
                                    @include transition;

                                    font: {
                                        size: 20px;
                                        family: "Font Awesome 5 Free";
                                    }

                                    color: #7e7e7e;

                                    &:after {
                                        content: "\f004";
                                        position: absolute;
                                        @include transition;
                                        left: 0;
                                        opacity: 0;

                                        font: {
                                            weight: 600;
                                        }

                                        background: linear-gradient(to bottom right, #9356DC, #FF79DA);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                    }

                                    &:hover {
                                        transform: scale(1.2);
                                    }

                                    &:hover:after {
                                        opacity: 1;
                                    }

                                }


                            }

                            p {
                                margin-top: 3px;

                                font: {
                                    size: 16px;
                                    weight: 400;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0 2px 5px rgb(173, 173, 173);
                }
            }


        }

    }
}